.searchView{
  background-color: #f2f2f2;
  height: 100%;
}

.search-content{
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.2);
  width: 615px;
  height: 91vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.search-tools{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 10px;
  height: 40px;
  padding-top: 10px;
}

.search-selector{
  width: 150px;
  height: 25px;
  margin-left: 10px;
  margin-bottom: 0px;
  border-radius: 1px;
  background-image: radial-gradient(circle at 50% 0, #ffffff, #f1eceb);
  border: solid 1px #ccc3c3;
  padding-left: 10px;
}

.search-field{
  width: 175px;
  height: 20px;
  margin-left: 5px;
  padding-left: 10px;
}

.search-btn{
  color: white;
  width: 75px;
  height: 25px;
  margin-top: -7px;
  border-radius: 1px;
  background-image: radial-gradient(circle at 50% 46%, #737373, #403d39);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.2);
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 0px;
}

.search-reset-btn{
  width: 75px;
  height: 25px;
  margin-top: -7px;
  border-radius: 1px;
  background-image: radial-gradient(circle at 50% 0, #ffffff, #f1eceb);
  border: solid 1px #ccc3c3;
  margin-top: 0px;
}

.search-list-wpr{
  
}

.search-fr-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.search-fr-img{
  height: 75px;
  width: 75px;
  margin: 10px 0px 0px 10px;
}

.search-fr-name{

}

.search-fr-btn{
  height: 20px;
}

.search-pagination{
  display: flex;
  justify-content:center;
  align-items: flex-end;
}

